<%= render "shared/header" %>

<div class= 'main'>
  <div class= 'main-content'>
    <div class= 'main-name'>Momota Daiki</div>
    <div class= 'main-profiles'>
      <div class= 'main-profile'>
        <h1>Profile</h1>
        <p>福井県出身、2023/7からプログラミング学習を始める</p>
      </div>
      <div class= 'main-skills'>
      <h1>Skills</h1>
      <p>HTML、CSS、Ruby、Ruby on Rails、JavaScript</p>
      <p>基本情報技術者、日商簿記2級</p>
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>