  <%# CSS・・・assets/stylesheets/shared/header.css %>
<header class= 'top-page-header'>
  <div class= 'header-border'></div>
  <ul class= 'header-btn navi'>
    <li class="current"><%= link_to 'HOME', root_path, class: 'header-home' %></li>
    <li><%= link_to 'About', "#", class: 'header-about' %></li>
    <li><%= link_to 'Works', "#", class: 'header-works' %></li>
  </ul>


</header>